@model List<TwitterImpact.Core.TwitterUserViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Users with Biggest Impact</h2>

        @foreach(var user in Model)
        {
            <div>
                <img src="@user.ImageUrl"/>
                <p>@user.ScreenName</p>
                <p>Impact = @user.Impact</p>
            </div>
        }
    </div>
</div>