@model List<TwitterImpact.Core.TweetViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Users with Biggest Impact</h2>

        @foreach(var tweet in Model)
        {
            @tweet.ScreenName<text>: </text>@tweet.Text
        }
    </div>
</div>